<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
    <script src="/javascripts/jquery-1.11.3.js"></script>
    <link rel="stylesheet" href="/bootstrap-3.3.4-dist/css/bootstrap.css" />
    <script src="/bootstrap-3.3.4-dist/js/bootstrap.js"></script>
    <script src="/javascripts/angular-1.3.9/angular.js"></script>
    <script src="/javascripts/angular-ui-router.js"></script>
    <script src="/javascripts/angularApp.js"></script>

    <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>-->
    <script src="/javascripts/moment.min.js"></script>
    <script src="/javascripts/angular-momentjs.js"></script>

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" /> -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body ng-app="nicotinesKryptonite" ng-controller="NavCtrl">
  	<nav class="navbar navbar-default pull-right">
  		<ul class="nav navbar-nav">
  			<li ng-hide="isLoggedIn()"><a ng-href="" class="navButton" ng-click="toggleModal()">Log In</a></li>
  			<li ng-hide="isLoggedIn()"><a ng-click="beginSignup()" ng-href="#/signup">Sign Up</a></li>
        <li ng-show="isLoggedIn()"><a ng-click="logout()" ng-href="#/home">Log Out</a></li>
  		</ul>
  	</nav>
    <modal title="Log In" visible="showModal">
      <form role="form">
        <div class="form-group">
          <label>Email or Username</label>
          <input ng-model="user.username" type="text" class="form-control" id="username" placeholder="Email / Username" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input ng-model="user.password" type="password" class="form-control" id="password" placeholder="Password" />
        </div>
        <button type="submit" ng-click="logIn()" class="btn btn-default">Submit</button>
      </form>
    </modal>
  	<div class="row">
  		<div class="col-md-3" style="max-width: 50%; min-width: 200px;">
  			<ul id="siteNav" class="nav nav-pills nav-stacked">
  				<li id="homeLink" ng-click="setActive('homeLink')" role="presentation" class="active"><a href="#/home">Home</a></li>
          <li id="dashboardLink" ng-click="setActive('dashboardLink')" ng-show="isLoggedIn()" role="presentation" class="userLink"><a href="#/dashboard">Dashboard</a></li>
          <li id="tobaccoCostLink" ng-click="setActive('tobaccoCostLink')" ng-show="isLoggedIn()" role="presentation" class="userLink"><a href="#/tobaccoCost">My Profile</a></li>
<!--   				<li role="presentation"><a href="#">How We Can Help</a></li>
  				<li role="presentation"><a href="#">Resources</a></li>
  				<li role="presentation"><a href="#">Tobacco Facts</a></li> -->
  				<li id="forumLink" role="presentation" ng-click="setActive('forumLink')"><a href="#/forum">Forum</a></li>
  			</ul>
  		</div>
      <div class="col-md-6">
        <div ng-show="errors.length > 0" class="alert alert-danger pageErrorsDiv">
          <h4 ng-repeat="error in errors" class="errorMessage">{{ error }}</h4>
        </div>
        <ui-view></ui-view>
      </div>
  	</div>
  </body>
</html>
