<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
    <script src="/javascripts/jquery-1.11.3.js"></script>
    <link rel="stylesheet" href="/bootstrap-3.3.4-dist/css/bootstrap.css" />
    <script src="/bootstrap-3.3.4-dist/js/bootstrap.js"></script>
    <script src="/javascripts/angular-1.3.9/angular.js"></script>
    <script src="/javascripts/angular-ui-router.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" /> -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body ng-app="nicotinesKryptonite" ng-controller="NavCtrl">
    <!-- remember to ng-hide Login/Signup and replace with "log out" -->
  	<nav class="navbar navbar-default pull-right">
  		<ul class="nav navbar-nav">
  			<li ng-hide="isLoggedIn()"><a ng-href="" class="navButton" ng-click="toggleModal()">Log In</a></li>
  			<li ng-hide="isLoggedIn()"><a ng-click="beginSignup()" ng-href="#/signup">Sign Up</a></li>
        <li ng-show="isLoggedIn()"><a ng-click="logout()" ng-href="#/home">Log Out</a></li>
  		</ul>
  	</nav>
    <modal title="Log In" visible="showModal">
      <form role="form">
        <div class="form-group">
          <label>Email or Username</label>
          <input ng-model="user.username" type="text" class="form-control" id="username" placeholder="Email / Username" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input ng-model="user.password" type="password" class="form-control" id="password" placeholder="Password" />
        </div>
        <button type="submit" ng-click="logIn()" class="btn btn-default">Submit</button>
      </form>
    </modal>
  	<div class="row">
  		<div class="col-md-3" style="max-width: 50%; min-width: 200px;">
  			<ul id="siteNav" class="nav nav-pills nav-stacked">
  				<li id="homeLink" ng-click="setActive('homeLink')" role="presentation" class="active"><a href="#/home">Home</a></li>
          <li id="dashboardLink" ng-click="setActive('dashboardLink')" ng-show="isLoggedIn()" role="presentation" class="userLink"><a href="#/dashboard">Dashboard</a></li>
          <li id="tobaccoCostLink" ng-click="setActive('tobaccoCostLink')" ng-show="isLoggedIn()" role="presentation" class="userLink"><a href="#/tobaccoCost">My Profile</a></li>
  				<li role="presentation"><a href="#">How We Can Help</a></li>
  				<li role="presentation"><a href="#">Resources</a></li>
  				<li role="presentation"><a href="#">Tobacco Facts</a></li>
  				<li role="presentation"><a href="#">Forum</a></li>
  			</ul>
  		</div>
      <div class="col-md-6">
        <div ng-show="errors.length > 0" class="alert alert-danger pageErrorsDiv">
          <h4 ng-repeat="error in errors" class="errorMessage">{{ error }}</h4>
        </div>
        <ui-view></ui-view>
      </div>
  	</div>
    
   <script type="text/ng-template" id="/home.html">
      <div ng-show="errorMessage" class="alert alert-danger">
        <h4 class="errorMessage">{{ errorMessage }}</h4>
      </div>
      <div class="page-header" style="margin-top: 0;">
        <!-- add the apostophre when Im not devving anymore -->
        <h1 style="margin-top: 0;">Nicotines Kryptonite<br /><small>Helping you help yourself</small></h1>
      </div>
      <div id="indexTopStory" class="jumbotron">
        <img id="homeStoryImage" ng-src="{{ homeStoryImageUri }}" id="homeStoryImage" class="img-rounded" alt="{{ homeStoryImageUri }}" />
        <h1>{{ homeStoryTitle }}</h1>
        <p>{{ homeStorySummary | truncate:true:100:' ...' }}&nbsp;<a ng-click="setActive('none')" ng-href="#{{readMoreURL}}">Read More ></a></p>
      </div>
      <div id="deathToll" class="alert alert-info">
        <h2>{{ deathToll }}</h2>
      </div>
    </script>

    <script type="text/ng-template" id="/signup.html">
      <div ng-show="registrationErrors.length > 0" class="alert alert-danger pageErrorsDiv">
        <h4 ng-repeat="error in registrationErrors" class="errorMessage">{{ error }}</h4>
      </div>
      <form ng-submit="signup()">
          <div ng-show="getSignupPage() === 'Intro'" class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Before we begin...</h3>
            </div>
            <div class="panel-body">
              Some text...
              <button class="signupButton btn btn-primary pull-right" ng-click="goNextPage('Info')">Next</button>
            </div>
          </div>

          <div ng-show="getSignupPage() === 'Info'" class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">First, lets get to know you!</h3><!-- TODO: add apostophre -->
            </div>
            <div class="panel-body">
              <input ng-model="user.name" type="text" class="form-control user-form-control" placeholder="Your Name" />
              <div class="input-group user-form-control">
                <span class="input-group-addon">Birthdate</span>
                <input type="date" class="form-control user-form-control datepicker" placeholder="yyyy-MM-dd" ng-model="user.birthdate" />
              </div>
              <div class="input-group user-form-control">
                <span class="input-group-addon">State of Residence</span>
                <select id="stateSelect" class="form-control"
                        ng-model="user.stateOfResidence"></select>
              </div>
              <div class="input-group user-form-control">
                <span class="input-group-addon">How You Plan on Quitting</span>
                <select ui-select2 ng-change="quittingMethodSelected(method)" class="form-control" ng-model="method">
                  <option ng-repeat="method in quittingMethods">{{ method }}</option>
                </select>
              </div>
              <div class="input-group user-form-control" ng-show="nrtBrands && nrtBrands.length > 0">
                <span class="input-group-addon">Nicotine Brand</span>
                <select class="form-control" ng-model="user.nrtBrand">
                  <option ng-repeat="brand in nrtBrands">{{ brand }}</option>
                </select>
              </div>
              <div class="input-group">
                <h5>What type(s) of tobacco products do you use regularly?</h5>
                <div class="checkbox" ng-repeat="tobaccoType in tobaccoTypes">
                  <label>
                    <input type="checkbox" 
                           value="{{tobaccoType}}" 
                           ng-click="toggleTobaccoSelection(tobaccoType)" />{{ tobaccoType }}
                  </label>
                </div>
              </div>
              <button class="signupButton btn btn-primary pull-right" ng-click="goNextPage('Addiction')">Next</button>
            </div>
          </div>

          <div ng-show="getSignupPage() === 'Addiction'" class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Wed like to know about your addiction</h3>
            </div>
            <div class="panel-body">
              <input type="text" 
                     class="form-control user-form-control"
                     ng-model="user.cigarettesPerDay"
                     ng-show="user.selectedTobaccoTypes.indexOf('Cigarettes') > -1"
                     placeholder="Cigarettes smoked per day" />
              <input type="text" 
                     class="form-control user-form-control"
                     ng-model="user.dipsPerDay"
                     ng-show="user.selectedTobaccoTypes.indexOf('Smokeless Tobacco') > -1"
                     placeholder="Dips/Pouches taken per day" />
               <input type="text" 
                     class="form-control user-form-control"
                     ng-model="user.cigarsPerDay"
                     ng-show="user.selectedTobaccoTypes.indexOf('Cigars') > -1"
                     placeholder="Cigars smoked per day" />
              <div class="input-group user-form-control" 
                   ng-show="user.selectedTobaccoTypes.indexOf('Cigarettes') > -1">
                <span class="input-group-addon">Cigarette Brand</span>
                <select id="cigaretteBrands" class="form-control"
                        ng-model="user.cigaretteBrand"></select>
              </div>
              <div class="input-group user-form-control"
                   ng-show="user.selectedTobaccoTypes.indexOf('Smokeless Tobacco') > -1">
                <span class="input-group-addon">Smokeless Brand</span>
                <select id="smokelessBrands" class="form-control"
                        ng-model="user.dipBrand"></select>
              </div>
              <div class="input-group user-form-control"
                   ng-show="user.selectedTobaccoTypes.indexOf('Cigars') > -1">
                <span class="input-group-addon">Cigar Brand</span>
                <select id="cigarBrands" class="form-control"
                        ng-model="user.cigarBrand"></select>
              </div>
              <button class="signupButton btn btn-primary pull-right" ng-click="goNextPage('Account')">Next</button>
            </div>
          </div>

          <div ng-show="getSignupPage() === 'Account'" class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Now lets finalize your account!</h3>
            </div>
            <div class="panel-body">
              <input type="text" class="form-control user-form-control" placeholder="Username"
                     ng-model="user.username" />
              <input type="text" class="form-control user-form-control" placeholder="Email"
                     ng-model="user.email" />
              <input type="password" class="form-control user-form-control" placeholder="Password"
                     ng-model="user.password" />
              <input type="password" class="form-control user-form-control" placeholder="Confirm Password"
                     ng-model="user.passwordConfirmation" />
              <button class="signupButton btn btn-primary pull-right" ng-click="register()">Register!</span>
            </div>
          </div>
      </form>
    </script>
    <script type="text/ng-template" id="/viewStory.html">
      <div class="page-header pageHeader">
        <h1>{{ story.title }}</h1>
      </div>
      <div id="storyImageDiv">
        <img id="storyImage" ng-src="{{story.imageUri}}" class="img-rounded" />
      </div>
      <p id="storySummary" class="text-muted"><em>{{ story.summary }}</em></p>
      <hr color="#aaa" noshade>
      <div ng-include src="storyText"></div>
    </script>
    <script type="text/ng-template" id="/dashboard.html">
      <div class="page-header pageHeader">
        <h2>{{ dashboard.greeting }}, {{ dashboard.firstName }}! <small>{{ dashboard.subgreeting }}</small></h2>
      </div>
      <h3>Craving level:</h3>
      <div class="progress">
        <div id="cravingLevelBar" class="progress-bar" role="progressbar" aria-valuenow="{{ dashboard.cravingLevel }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ dashboard.cravingLevel }}%; min-width: 8%;">{{ roundToTwoPlaces(dashboard.cravingLevel) }}%
        </div>
      </div>
      <div ng-show="dashboard.financialGoalCost !== -1">
        <h3>Progress toward financial goal: <small>{{ percentTowardGoal }}</small></h3>
        <div id="financialGoalProgressBar" class="progress">
          <div class="progress-bar progress-bar-success progress-bar-striped active" style="width: {{ dashboard.percentTowardGoal }}%; min-width: 10%; max-width: 90%;">
            ${{ roundToTwoPlaces(dashboard.moneySaved) }}
          </div>
          <div class="progress-bar progress-bar-info" role="progress-bar" style="width: {{ 100 - dashboard.percentTowardGoal }}%; min-width: 10%; max-width: 90%;">
            ${{ roundToTwoPlaces(dashboard.financialGoalCost - dashboard.moneySaved) }}
          </div>
        </div>
        <div>
          <div class="legendRow">
            <span class="label label-success keyLabel successColorLabel">_</span>
            <span>= Money Saved</span>
          </div>
          <div class="legendRow">
            <span class="label label-info keyLabel infoColorLabel">_</span>
            <span>= Money Remaining</span>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="/tobaccoCost.html">
      <div ng-show="errorMessage" class="alert alert-danger pageErrorsDiv">
        <h4>{{ errorMessage }}</h4>
      </div>
      <div ng-show="infoMessage" class="alert alert-info">
        <h4>{{ infoMessage }}</h4>
      </div>
      <form>
        <h3>Update your quit date</h3>
        <div class="input-group user-form-control">
          <span class="input-group-addon">My Quit Date</span>
          <input type="date" class="form-control datepicker" placeholder="yyyy-MM-dd" ng-model="dateQuit" />
        </div>
        <div>
          <h3>Update your tobacco prices <small>(So we know how much youll save)</small></h3>
          <div ng-show="cigarettePrice && cigarettePrice > 0" class="input-group user-form-control">
            <span class="input-group-addon">Cigarette Price (per pack)</span>
            <input type="text" class="form-control" ng-model="cigarettePrice" />
          </div>
          <div ng-show="dipPrice && dipPrice > 0" class="input-group user-form-control">
            <span class="input-group-addon">Smokeless Price (per can/tin)</span>
            <input type="text" class="form-control" ng-model="dipPrice" />
          </div>
          <div ng-show="cigarPrice && cigarPrice > 0" class="input-group user-form-control">
            <span class="input-group-addon">Cigar Price</span>
            <input type="text" class="form-control"ng-model="cigarPrice" />
          </div>
        </div>
      </form>
      <form>
        <h3>{{ financialGoalTitle }}</h3>
        <p><small>Tell us what you would like to spend the money on that youll save from not buying tobacco!</small></p>
        <div class="input-group user-form-control">
          <span class="input-group-addon">Item</span>
          <input type="text" class="form-control" ng-model="financialGoalItem" placeholder="Example: 'A new car'" />
        </div>
        <div class="input-group user-form-control">
          <span class="input-group-addon">Cost</span>
          <input type="text" class="form-control" ng-model="financialGoalCost" />
        </div>
      </form>
      <div id="updateUsageContentArea">
        <legend>Update Nicotine Usage</legend>
        <table id="usageUpdateTable">
          <tr>
            <td>Date Used</td>
            <td>Nicotine Type</td>
            <td>Quantity Used</td>
          </tr>
          <tr ng-repeat="usage in usageInfos">
            <td>
              <input ng-model="usage.date" type="date" class="form-control datepicker" placeholder="yyyy-MM-dd" />
            </td>
            <td> 
              <select ng-model="usage.nicotineType" class="form-control">
                <option>Cigarettes</option>
                <option>Smokeless Tobacco</option>
                <option>Cigars</option>
                <!--<option>Nicotine Gum</option>-->
                <option>Nicotine Lozenges</option>
                <!--<option>Nicotine Patches</option>-->
                <!--<option>Electronic Cigarettes</option>-->
              </select>
            </td>
            <td>
              <input type="text" class="form-control" ng-model="usage.quantity" />
            </td>
          </tr>
        </table>
        <button class="btn btn-small btn-primary pull-right" ng-click="addUsageInfo()"><span class="glyphicon glyphicon-plus"></span>Add Usage Info</button>
      </div>
      <button id="updateProfileButton" class="btn btn-primary formButton" ng-click="updateProfile()">Update Profile</button>
    </script>
  </body>
</html>
