#particleContainer {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

#baseColorPicker {
  float: left;
  width: 300px;
}

.particleControlsColumn {
  float: left;
  width: 230px;
  margin-right: 10px;
  border-left: 2px solid #CCC;
  padding-left: 10px;
}

#updateParticlesButton {
  margin: 1em 0 1em 0;
  float: left;
  clear: both;
}

.particlesLink {
  margin: 0 1em 0 0;
}

#particlesHeaderDiv {
  margin-bottom: 1em;
}

#behaviorControlDiv {
  margin-bottom: 2.04em;
}