#particleContainer {
  margin-left: auto;
  margin-right: auto;
  width: 1150px;
}

#baseColorPicker {
  float: left;
  width: 300px;
  margin-bottom: 1em;
}

#particleControls {
  float: left;
  width: 300px;
}

.particleControlsColumn {
  float: left;
  width: 140px;
}

#staticTraitsControls {
  border-right: 2px solid #CCC;
  margin-right: 10px;
  padding-right: 10px;
}

#updateParticlesButton {
  margin: 1em 0 1em 0;
  float: left;
  clear: both;
}

.particlesLink {
  margin: 0 1em 0 0;
}

#particlesHeaderDiv {
  margin-bottom: 1em;
}

#behaviorControlDiv {
  margin-bottom: 2.04em;
}

#baseColorHeader {
  margin-top: 0;
}