body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-width: 400px;
}

a {
  color: #00B7FF;
}

#homeStoryImage {
	max-width: 95%;
	height: auto;
}

#leftNav {
	/* Stupid FrontRunner Wifi... verify that I don't need this */
	/*margin-top: 15px;*/
}

.signupButton {
	margin-top: 10px;
}

.user-form-control {
	margin-top: 10px;
}

#deathToll {
	text-align: center;
}

.datepicker {
	margin-top: 0;
}

.errorMessage {
	padding-top: 5px;
}

.pageErrorsDiv {
	text-align: center;
}

#indexTopStory {
	text-align: center;
}

#storyImageDiv {
	text-align: center;
}

#storyImage {
	max-width: 100%;
}

#storySummary {
	margin-top: 10px;
}

.pageHeader {
	padding-top: 0;
	margin-top: 0;
}

.pageHeader h1 {
	padding-top: 0;
	margin-top: 0;
}

.navButton {
	cursor: pointer;
}

.userLink a {
	color: #5CD166;
}

.userLinkActive a {
	color: white;
	background-color: #159620;
}

.userLinkActive a:focus {
	color: white;
	background-color: #159620 !important;
}

.formButton {
	margin-top: 5px;
}

#updateProfileButton {
	margin-top: 20px;
	font-size: 1.75em;
}

.keyLabel {
	color: transparent;
}

.successColorLabel {
	background-color: #5cb85c;
}

.infoColorLabel {
	background-color: #5bc0de;
}

#financialGoalProgressBar {
	margin-bottom: 10px;
}

.legendRow {
	padding-top: 5px;
}

#usageUpdateTable tr td {
	padding: 10px;
}

#updateUsageContentArea {
	margin: 15px 0 25px 0;
}

.ngActionLink:hover {
	cursor: pointer;
}

.formUserAvatar {
	height: 2.3em;
	width: auto;
}

.newTopicTitle {
	height: 2.18em;
}

.sectionHeader {
	font-size: 1.8em;
	color: #888;
}

.contentBreak {
	margin: 0;
}

#topicCommentButton {
	margin-top: 10px;
}

#topicContentArea {
	margin-bottom: 2.2em;
}

.topicCommentArea {
	margin: 1.05em 0 1.25em 0;
}

.topicSubCommentArea {
	margin: 1em 0 1.1em 3.75em;
}

.commentInfoArea {
	margin-bottom: 0.8em;
}

.feedbackGroup {
	margin-bottom: 1em;
}

#feedbackDescriptionLabel {
	font-size: 1.3em;
}

#feedbackSendButton {
	margin-top: 0.5em;
}

#mainStoryArea {
	border-radius: 10px; 
	overflow: hidden; 
	background-color: #EEE;
}

.subStoryArea {
	background-color: #EEE;
	height: 119px;
	margin-top: 10px;
	padding: 5px;
}

#leftStoryArea {
	margin-right: 3px;
}

#rightStoryArea {
	margin-left: 3px;
}

.storyAreaContainer {
	padding: 0;
}

#mainStoryLink {
	font-size: 1.65em;
	margin-top: 10px;
}

.subStoryLink {
	font-size: 1.3em;
}

.storiesPageHeader {
	margin-top: 0;
}

.listStoryArea {
	padding-top: 1em;
}

.storyBreak {
	margin: 1em 0 1em 0;
}

#nicotineHistoryTimespanSelector {
	width: auto;
	display: inline-block;
}

#nicotineTypesLegend {
	border: 2px solid #DDD;
	border-radius: 0.8em;
	padding: 0.5em;
}

#backToSiteLink {
	float: left;
	margin-right: 50%;
	margin-bottom: 1em;
}